<%- include("layouts/header") -%>
    <form action="/saveUser"  method="POST"
        class="flex flex-col gap-y-4 max-w-lg mx-auto px-8 mt-8">
        <label for="firstname" class="w-full">
            <p class="mb-1">First name</p>
            <input class="input input-bordered w-full" type="text" placeholder="Juan" id="firstname" name="firstname" required >  
        </label>  
        <label for="lastname" class="w-full">
            <p class="mb-1">Last name</p>
            <input class="input input-bordered w-full" type="text" placeholder="dela Cruz" id="lastname" name="lastname" required >  
        </label>  
        <label for="email" class="w-full">
            <p class="mb-1">Email</p>
            <input class="input input-bordered w-full" type="email" placeholder="jdelacruz@example.com" id="email" name="email" required >  
        </label>  
        <button class="btn btn-primary" type="submit">
          <a id="return" href="/">Submit</a>
        </button>
        <a id="return" href="/" class="btn">Cancel</a>
      </form>
      <script src="/js/continue.js"></script>
<%- include("layouts/footer") -%>